In [1]:
import numpy as np
import pandas as pd
import json


Write a function that can generate the following sequences:
   * sequence #1: 2 * n + 1
   * sequence #2: 50 - 5 * n
   * sequence #3: 2 ** n

Although this exercises can easily be done with list comprehensions, it can be more efficient to use numpy
(the arange method can be handy here).

Start by generating all 50 first values for the sequence that was selected by sequence_number and return a numpy array filtered so that it only contains values in [min_value, max_value] (min and max being included)

* param min_value: minimum value to use to filter the arrays
* param max_value: maximum value to use to filter the arrays
* param sequence_number: number of the sequence to return
* returns: the right sequence as a np.array

In [2]:
def build_sequences(min_value, max_value, sequence_number):
    
    n = np.arange(50)
    if sequence_number == 1:
        seq = 2*n + 1
    elif sequence_number == 2:
        seq = 50 - 5*n
    elif sequence_number == 3:
        seq = 2**n
    seq_min = seq[seq >= min_value]
    result = seq_min[seq_min <= max_value]
    return result

min_value = 15
max_value = 37
sequence_number = 3
build_sequences(min_value, max_value, sequence_number)

array([16, 32])


Given a numpy vector x of n > k, compute the moving averages
of length k.  In other words, return a vector z of length
m = n - k + 1 where z_i = mean([x_i, x_i-1, ..., x_i-k+1])

Note that z_i refers to value of z computed from index i of x,
but not z index i. z will be shifted compared to x 
since it cannot be computed for the first k-1 values of x.

Example inputs:
* x = [1, 2, 3, 4]
* k = 3

the moving average of 3 is only defined for the last 2
values: [3, 4].
* z = np.array([mean([1,2,3]), mean([2,3,4])])
* z = np.array([2.0, 3.0])


* param x: numpy array of dimension n > k
* param k: length of the moving average
* returns: a numpy array z containing the moving averages.

In [3]:
def moving_averages(x, k):
    r = np.cumsum(x)
    r[k:] = r[k:] - r[: - k]
    result = r[k - 1:] / k
    return result

x = np.array([1, 2, 3, 4])
k = 3
moving_averages(x, k)

array([2., 3.])


Given two numpy matrices A and B of arbitrary dimensions, return a new numpy matrix of the following form:
        ([A,0], [0,B])

Example inputs:
      A = ([1,2], [3,4])    
      B = ([5,6], [7,8])

Expected output:
        ([1,2,0,0],
        [3,4,0,0],
        [0,0,5,6],
        [0,0,7,8])

* param A: numpy array
* param B: numpy array
* returns: a numpy array with A and B on the diagonal.

In [4]:
def block_matrix(A, B):   
    za_matr = np.zeros((B.shape[0], A.shape[1]))
    zb_matr = np.zeros((A.shape[0], B.shape[1]))
    az_matr = np.vstack((A, za_matr))
    bz_matr = np.vstack((zb_matr, B))
    ab_matr = np.hstack((az_matr, bz_matr))
    return ab_matr

A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])
block_matrix(A, B)

array([[1., 2., 0., 0.],
       [3., 4., 0., 0.],
       [0., 0., 5., 6.],
       [0., 0., 7., 8.]])


Write a function that takes a pandas.DataFrame with four columns: "category", "price", "weight", "in_stock" and returns a pandas.Series containing the price of the heaviest weight per category of items still in stock.

You can assume that no items in the same category have the same weight to make things simpler to reason about.
The returned Series should not have an index name and the values should be sorted in descending order.
You should return an empty Series if there are not items in stock for all categories.

Example input:

        category      price weight  in_stock
    0   electronics   400   740     False
    1   health        5     100     False
    2   electronics   300   6000    True
    3   books         20    300     True

Note: entries of in_stock are booleans.

Expected output:

    electronics    300
    books          20
    dtype: int64

* :param inventory: pandas.DataFrame with four column "category", "price", "weight", "in_stock"
* :return: a pandas.Series with the category as index and the selected prices in descending order

In [5]:
def get_prices_for_heaviest_item(inventory):
    available = inventory.loc[inventory['in_stock']==True]
    max_prices = available['price'].groupby(inventory['category']).max().sort_values(ascending=False)
    categ_price =  pd.Series(index=max_prices.index.values, data=max_prices.values)
    return categ_price

inventory = pd.DataFrame({'category': {0: 'electronics', 1: 'health' , 2: 'electronics', 3: 'books'}, 'price': {0: 400, 1: 5, 2: 300, 3: 20}, 'weight': {0: 740, 1: 100, 2: 6000, 3: 300}, 'in_stock': {0: False, 1: False, 2: True, 3: True}})
categ_price = get_prices_for_heaviest_item(inventory)
print(categ_price)

electronics    300
books           20
dtype: int64


Write a function that takes a pandas.DataFrame with 7 columns:"location", 'Jan-2018', 'Feb-2018', 'Mar-2018', "April-2018", "May-2018", "June-2018".
This DataFrame represents temperature measurements in the first two quarters of 2018 for a particular city.
This function should return a new DataFrame containing three columns: "location", "Date", "Value" and where each row represents a measurement in particular location at a particular date.
The returned pandas.DataFrame should sort the values by location first and then by temperature measurement.
It should also drop any missing values and reset the index of the returned DataFrame.

NOTE: If measurements is empty your function should return and empty dataframe:
      location       date   value

Example input:

       location  Jan-2018  Feb-2018  Mar-2018  April-2018  May-2018  June-2018
    0  Brussels         2         3         8        12.0        14         17
    1     Paris         2         3         9         NaN        15         18

Expected output:

        location        date  value
    0   Brussels    Jan-2018    2.0
    1   Brussels    Feb-2018    3.0
    2   Brussels    Mar-2018    8.0
    3   Brussels  April-2018   12.0
    4   Brussels    May-2018   14.0
    5   Brussels   June-2018   17.0
    6      Paris    Jan-2018    2.0
    7      Paris    Feb-2018    3.0
    8      Paris    Mar-2018    9.0
    9      Paris    May-2018   15.0
    10     Paris   June-2018   18.0

* :param measurements: pandas.DataFrame with seven columns:
    "location", 'Jan-2018', 'Feb-2018', 'Mar-2018', "April-2018", "May-2018", "June-2018"
* :return: a pandas.DataFrame containing three columns "location", "date", "value" with a row
    for each temperature measurement in a given location. There should be no missing values.

In [28]:
def reshape_temperature_data(measurements):
    df = pd.melt(measurements, id_vars=['location'], var_name='date', value_name='value')
    df = df.dropna()
    df_new = df.sort_values(by=['location','value'])
    d_indx = df_new.reset_index(drop=True)
    return d_indx

measurements = pd.DataFrame({'location': {0: 'Brussels', 1: 'Paris'}, 'Jan-2018': {0: 2, 1: 2}, 'Feb-2018': {0: 3, 1: 3}, 'Mar-2018': {0: 8, 1: 9}, 'April-2018': {0: 12.0, 1: np.nan}, 'May-2018': {0: 14, 1: 15}, 'June-2018': {0: 17, 1:18}})
reshape_temperature_data(measurements)

    location        date  value
0   Brussels    Jan-2018    2.0
1   Brussels    Feb-2018    3.0
2   Brussels    Mar-2018    8.0
3   Brussels  April-2018   12.0
4   Brussels    May-2018   14.0
5   Brussels   June-2018   17.0
6      Paris    Jan-2018    2.0
7      Paris    Feb-2018    3.0
8      Paris    Mar-2018    9.0
9      Paris    May-2018   15.0
10     Paris   June-2018   18.0


Write a function that takes a pandas.DataFrame containing 2 columns representing web events for a user: "user_id" and "event".
This function should return a new DataFrame where each event value becomes a new column in the returned DataFrame.
We expect the columns (events) to be in alphabetical order.

For each event value, you need to calculate the count of that particular event for each userid.
Missing values should be filled with 0.
Effectively, this function calculates the number of occurrence for each event type (columns) for each user (rows).
You should return an empty Series if the input DataFrame is empty.

Example input:

        user_id	event
    0	1234	click
    1	4321	click
    2	1234	click
    3	1234	play
    4	4321	play
    5	3456	pause

Expected output:

        	click	pause	play
    1234	2.0	    0.0	    1.0
    3456	0.0	    1.0	    0.0
    4321	1.0	    0.0	    1.0

* :param events: pandas.DataFrame with two columns: "user_id" and "event"
* :return: a pandas.DataFrame returning the number of occurrence for each event type (columns) for each user (rows).

In [7]:
def compute_events_matrix_count(events):
    if events.empty:
        return pd.Series()
    else:
        result = pd.pivot_table(events, index='user_id', columns='event', aggfunc=len, fill_value=0)
        return result

events = pd.DataFrame({'user_id': {0: 1234, 1: 4321, 2: 1234, 3: 1234, 4: 4321, 5: 3456}, 'event': {0: 'click', 1: 'click', 2: 'click', 3: 'play', 4: 'play', 5: 'pause'}})
compute_events_matrix_count(events)

event    click  pause  play
user_id
1234         2      0     1
3456         0      1     0
4321         1      0     1


Write a function that takes a pandas DataFrame with two columns "time_1" and "time_2" of UNIX timestamps given in seconds (you will need to specify the unit if using pd.to_datetime).

The function should return a new dataFrame with one single column "difference_days" consisting of the absolute difference in days between time_1 and time_2.

Example input:

               time_1      time_2
        0  1456694829  1455845363

Here we have a single row for which time_1 corresponds to 28/02/2016 and time_2 to 19/02/2016.

Expected output:
    
           difference_days
        0                9
    
Hint:
Take special care on how negative timedeltas are treated in Python.
Getting the number of days directly from a negative timedelta might
    not give you the result you expect.

* :param df: DataFrame with the two columns of timestamps
* :return: new dataframe with differences in days between timestamps

In [8]:
def diff_in_days(df):
    df['time_1'] = pd.to_datetime(df['time_1'], unit='s', dayfirst=True)
    df['time_2'] = pd.to_datetime(df['time_2'], unit='s', dayfirst=True)
    df['difference_days'] = (abs(df['time_1'] - df['time_2'])).dt.days
    days = pd.DataFrame(df['difference_days'], columns=['difference_days'])
    return days

df = pd.DataFrame({'time_1': {0: 1456694829, 1: 1480946454, 2: 1451606400, 3: 1472688000}, 'time_2': {0: 1455845363, 1: 1475568868, 2: 1456790400, 3: 1485907200}})
diff_in_days(df)

   difference_days
0                9
1               62
2               60
3              153


Write a function that takes a pandas DataFrame with one column, locations, containing information about a specific location. The info is stored in a string that can be loaded as a json object.
The function should return a DataFrame with one column, "short_name" that contains the value associated with the key "short_name" for each row.

Note: you can assume all strings are exactly in the format given below though possibly longer and with different keys.

Example input:
                                              locations
        0  {"short_name": "Detroit, MI", "id": 2391585}
        1    {"short_name": "Tracy, CA", "id": 2507550}

Where each value is a string such as:
    
       '{"short_name": "Detroit, MI", "id": 2391585}'

Expected output:
    
            short_name
        0  Detroit, MI
        1    Tracy, CA

Hint: you might want to use json.loads from the json library together with .apply from pandas to extract the correct key from the json object.

* :param df: DataFrame with the locations column
* :return: new DataFrame with the short_name column

In [47]:
def return_location(df):
    df_new = df.join(df['locations'].apply(json.loads).apply(pd.Series))
    result = pd.DataFrame(df_new['short_name'], columns=['short_name'])
    return result

df = pd.DataFrame({'locations': {0:'{"short_name": "Detroit, MI", "id": 2391585}', 1: '{"short_name": "Tracy, CA", "id": 2507550}'}})
return_location(df)

    short_name
0  Detroit, MI
1    Tracy, CA


Write a function that takes a pandas DataFrame with one column, text, that contains an arbitrary text. The function should extract all post-codes that appear in that text and concatenate them together with " | ". The result is a new dataframe with a column "postcodes" that contains all concatenated
postcodes.

Example input:
    
       text
    0  Great Doddington, Wellingborough NN29 7TA, UK\nTaylor, Leeds LS14 6JA, UK
    1  This is some text, and here is a postcode CB4 9NE

Expected output:

                postcodes
    0  NN29 7TA | LS14 6JA
    1              CB4 9NE

Note: Postcodes, in the UK, are of one of the following form where `X` means a letter appears and `9` means a number appears:

    X9 9XX
    X9X 9XX
    X99 9XX
    XX9 9XX
    XX9X 9XX
    XX99 9XX

Even though the standard layout is to include one single space in between the two halves of the post code, there are occasional formating
errors where an arbitrary number of space is included (0, 1, or more). You should parse those codes as well.

* :param df: a DataFrame with the text column
* :return: new DataFrame with the postcodes column

In [57]:
def return_post_codes(df):
    regex = r'([A-Z]{1,2}\d{1,2}([A-Z]{1})?\s{0,}\d{1}[A-Z]{2})'
    postcodes = df['text'].str.extractall(regex)
    postcodes = postcodes.dropna(axis=1)
    post = pd.DataFrame()
    for row_index in range(len(df)):
        val = postcodes.loc[row_index].astype(str).apply(' | '.join, axis=0)
        post = post.append(val, ignore_index=True)
    post.columns = ['postcodes']
    return post

df = pd.DataFrame({'text': {0: 'Great Doddington, Wellingborough NN29 7TA, UK\nTaylor, Leeds LS14 6JA, UK', 1: 'This is some text, and here is a postcode CB4 9NE'}})
return_post_codes(df)

             postcodes
0  NN29 7TA | LS14 6JA
1              CB4 9NE


Take a DataFrame and return one where all occurrences of the replacement string have been replaced by `np.nan` and, subsequently, all rows containing np.nan have been removed.

Example with replacement_str='blah'
    
         A       B      C                   A     B    C
    --------------------------         ------------------
    0 |  0.5 |  0.3   | 'blah'         1 | 0.2 | 0.1 | 5
    1 |  0.2 |  0.1   |   5     -->    3 | 0.7 | 0.2 | 1
    2 |  0.1 | 'blah' |   3
    3 |  0.7 |  0.2   |   1

Note: keep the original index (not reset)

* :param df: Input data frame (pandas.DataFrame)
* :param replacement_str: string to find and replace by np.nan
* :returns: DataFrame where the occurences of replacement_str have been replaced by np.nan and subsequently all rows containing np.nan have been removed

In [66]:
def nan_processor(df, replacement_str):
    row_nan = df.replace(replacement_str, np.nan)
    result = row_nan.dropna()
    return result

df = pd.DataFrame({'A': [0.5, 0.2, 0.1, 0.7], 'B': [0.3, 0.1, 'blah', 0.2], 'C': ['blah', 5, 3, 1]})
replacement_str = 'blah'
nan_processor(df, replacement_str)

     A    B    C
1  0.2  0.1  5.0
3  0.7  0.2  1.0


Take a dataframe where columns are all numerical and non-constant. 
For each feature, mark the values that are not between the given percentiles (low-high) as np.nan. If a value is exactly on the high or low percentile, it should be marked as nan too.

Then, remove all rows containing np.nan.
Finally, the columns must be scaled to have zero mean and unit variance (do this without sklearn).

Example testdf:
    
            0     1     2
    ---------------------
    A |   0.1   0.2   0.1
    B |   5.0  10.0  20.0
    C |   0.2   0.3   0.5
    D |   0.3   0.2   0.7
    E |  -0.1  -0.2  -0.4
    F |   0.1   0.4   0.3
    G |  -0.5   0.3  -0.2
    H | -10.0   0.3   1.0

Output of feature_cleaner(testdf, 0.01, 0.99):

                0         1         2
    ---------------------------------
    A |  0.191663 -0.956183 -0.515339
    C |  0.511101  0.239046  0.629858
    D |  0.830540 -0.956183  1.202457
    F |  0.191663  1.434274  0.057260
    G | -1.724967  0.239046 -1.374236

* :param df:      Input DataFrame (with numerical columns)
* :param low:     Lowest percentile  (0.0<low<1.0)
* :param high:    Highest percentile (low<high<1.0)
* :returns:       Scaled DataFrame where elements that are outside of the desired percentile range have been removed

In [12]:
def feature_cleaner(df, low, high):
    def remove_outliers(df):
        perc_min = df.quantile(low)
        perc_max = df.quantile(high)
        filtered = df[(perc_min < df) & (df < perc_max)]
        return filtered
    df = df.apply(remove_outliers)
    df = df.dropna()
    normalized_df = (df - df.mean())/df.std()
    return normalized_df

df = pd.DataFrame({'0': [0.1, 5.0, 0.2, 0.3, -0.1, 0.1, -0.5, -10.0], '1': [0.2, 10.0, 0.3, 0.2, -0.2, 0.4, 0.3, 0.3], '2': [0.1, 20.0, 0.5, 0.7, -0.4, 0.3, -0.2, 1.0]}, index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])
low = 0.01
high = 0.99
feature_cleaner(df, low, high)

          0         1         2
A  0.191663 -0.956183 -0.515339
C  0.511101  0.239046  0.629858
D  0.830540 -0.956183  1.202457
F  0.191663  1.434274  0.057260
G -1.724967  0.239046 -1.374236


Take a dataframe where all columns are numerical (no NaNs) and not constant.
One of the column named "CLASS" is either 0 or 1.

Within each class, for each feature compute the ratio (R) of the range over the variance (the range is the gap between the smallest and largest value).

For each feature you now have two R; R_0 and R_1 where:
R_0 = (max_class0 - min_class0) / variance_class0

For each column, compute the ratio (say K) of the larger R to the smaller R.
Return the name of the column for which this last ratio K is largest.

Test input
    
           A     B     C    CLASS
    ---------------------------------
    0 |   0.1   0.2   0.1     0
    1 |   5.0  10.0  20.0     0
    2 |   0.2   0.3   0.5     1
    3 |   0.3   0.2   0.7     0
    4 |  -0.1  -0.2  -0.4     1
    5 |   0.1   0.4   0.3     0
    6 |  -0.5   0.3  -0.2     0

Expected output: 'C'

* :param df:  Input DataFrame (with numerical columns)
* :returns:   Name of the column with largest K

In [13]:
def get_feature(df):    
    df_group = (df.groupby(df['CLASS']).max() - df.groupby(df['CLASS']).min())/df.groupby(df['CLASS']).var()
    ind = (df_group.max()/df_group.iloc[:])
    max_ind = ind.max().idxmax()
    return max_ind

df = pd.DataFrame({'A': [0.1, 5.0, 0.2, 0.3, -0.1, 0.1, -0.5], 'B': [0.2, 10.0, 0.3, 0.2, -0.2, 0.4, 0.3], 'C': [0.1, 20.0, 0.5, 0.7, -0.4, 0.3, -0.2], 'CLASS': [0, 0, 1, 0, 1, 0, 0]})
get_feature(df)

'C'


Write a function that takes in a label to encode and a list of possible
labels. It should return the label one-hot-encoded as a list of elements
containing 0s and a unique 1 at the index corresponding to the matching
label. Note that the input list of labels should contain unique elements.
If the label does not appear in our known labels, return a list of 0s.

Examples:
    
    one_hot_encode("pink", ["blue", "red", "pink", "yellow"]) -> [0, 0, 1, 0]
    one_hot_encode("b", ["a", "b", "c", "d", "e"]) -> [0, 1, 0, 0, 0]
    one_hot_encode("f", ["a", "b", "c", "d", "e"]) -> [0, 0, 0, 0, 0]

* :param label_to_encode: the label to encode
* :param labels: a list of all possible labels
* :return: a list of 0s and one 1

In [14]:
def one_hot_encode(label_to_encode, labels):
    
    encode = []
    for _, lab in enumerate(labels):
        if lab == label_to_encode:
            enc_lab = 1
        else:
            enc_lab = 0
        encode.append(enc_lab)
    return encode

one_hot_encode("pink", ["blue", "red", "pink", "yellow"])

[0, 0, 1, 0]

## PCA

This file contains a set of functions to implement using PCA.
All of them take at least a dataframe df as argument. To test your functions
locally, we recommend using the wine dataset that you can load from sklearn by
importing sklearn.datasets.load_wine

In [68]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.datasets import load_wine
data = load_wine()
df_wine = pd.DataFrame(data.data, columns=data.feature_names)


Apply PCA on a DataFrame and return a new DataFrame containing
the cumulated explained variance from with only the first component,
up to using all components together. Values should be expressed as
a percentage of the total variance explained.

The DataFrame will have one row and each column should correspond to a 
principal component.

Example:
   
             PC1        PC2        PC3        PC4    PC5
    0  36.198848  55.406338  66.529969  73.598999  100.0

If scale is True, you should standardise the data first

* :param df: pandas DataFrame
* :param scale: boolean, whether to scale or not
* :return: a new DataFrame with cumulated variance in percent

In [69]:
def get_cumulated_variance(df, scale):    
    if scale:
        scaler = StandardScaler()
        df = pd.DataFrame(scaler.fit_transform(df))
    pca = PCA()
    pca.fit(df)
    a_matr = pca.fit_transform(df)
    covariance = np.cov(a_matr.T)
    expl_variance = pca.explained_variance_/np.sum(pca.explained_variance_)
    cum_expl_ratio = np.cumsum(pca.explained_variance_ratio_)*100
    data = cum_expl_ratio.reshape(1, cum_expl_ratio.shape[0])
    cols= ','.join(["PC%d" %i for i in range(1, cum_expl_ratio.shape[0] + 1)])
    cols = cols.split(',')
    df_PCAs = pd.DataFrame(data, columns = cols)
    return df_PCAs

In [ ]:
# wine dataframe
scale = 'True'
get_cumulated_variance(df_wine, scale)


Apply PCA on a given DataFrame df and return a new DataFrame containing the coordinates of the first two principal components expressed in the original basis (with the original columns).

Example: if the original DataFrame was:

          A    B
    0   1.3  1.2
    1  27.0  2.1
    2   3.3  6.8
    3   5.1  3.2

we want the components PC1 and PC2 expressed as a linear combination of A and B, presented in a table as:

              A      B
    PC1    0.99  -0.06
    PC2    0.06   0.99

If scale is True, you should standardise the data first

* :param df: pandas DataFrame
* :param scale: boolean, whether to scale or not
* :return: a new DataFrame with coordinates of PC1 and PC2

In [72]:
def get_coordinates_of_first_two(df, scale):
    cols = df.columns
    if scale:
        scaler = StandardScaler()
        df = pd.DataFrame(scaler.fit_transform(df))
    pca = PCA()
    pca.fit(df)
    w_sub = pca.components_
    w_pca = w_sub[0:2, :]
    rows= ','.join(["PC%d" %i for i in range(1, 3)])
    rows = rows.split(',')
    df_new = pd.DataFrame(w_pca, columns=cols, index=rows)
    return df_new

In [77]:
# sample dataframe
df = pd.DataFrame({'A': [1.3, 27, 3.3, 5.1], 'B': [1.2, 2.1, 6.8, 3.2]}) 
scale = False
get_coordinates_of_first_two(df, scale)

            A         B
PC1  0.998183 -0.060256
PC2  0.060256  0.998183

In [78]:
# wine dataframe
scale = False
get_coordinates_of_first_two(df_wine, scale)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
PC1,0.001659,-0.000681,0.000195,-0.004671,0.017868,0.000990,0.001567,-0.000123,0.000601,0.002327,0.000171,0.000705,0.999823
PC2,0.001203,0.002155,0.004594,0.026450,0.999344,0.000878,-0.000052,-0.001354,0.005004,0.015100,-0.000763,-0.003495,-0.017774


Apply PCA on a given DataFrame df and use it to determine the 'most important' features in your dataset. To do so we will focus on the principal component that exhibits the highest explained variance (that's PC1).

PC1 can be expressed as a vector with weight on each of the original columns. Here we want to return the names of the two features that
have the highest weights in PC1 (in absolute value).

Example: if the original DataFrame was:

          A    B     C
     0  1.3  1.2   0.1
     1  2.0  2.1   1.2
     2  3.3  6.8  23.4
     3  5.1  3.2   4.5

and PC1 can be written as [0.05, 0.22, 0.97] in [A, B, C].
Then you should return C, B as the two most important features.
If scale is True, you should standardise the data first

* :param df: pandas DataFrame
* :param scale: boolean, whether to scale or not
* :return: names of the two most important features as a tuple

In [79]:
def get_most_important_two(df, scale):
    df_new = get_coordinates_of_first_two(df, scale)
    pc1 = abs(df_new.iloc[0])
    feat_1 = pc1.idxmax()
    drop_f1 = pc1.drop(feat_1)
    feat_2 = drop_f1.idxmax()
    most_import_features = tuple((feat_1, feat_2))
    return most_import_features

('C', 'B')

In [80]:
# sample dataframe
df = pd.DataFrame({'A': [1.3, 2.0, 3.3, 5.1], 'B': [1.2, 2.1, 6.8, 3.2], 'C': [0.1, 1.2, 23.4, 4.5]})
scale = False
get_most_important_two(df, scale)

('C', 'B')

In [82]:
scale = True
get_most_important_two(df_wine, scale)

('flavanoids', 'total_phenols')


Write a function that applies PCA on a given DataFrame df in order to find a new subspace of dimension n.

Transform the two points point_a and point_b to be represented into that n dimensions space, compute the Euclidean distance between the points in that space and return it.

Example: if the original DataFrame was:

          A    B     C
     0  1.3  1.2   0.1
     1  2.0  2.1   1.2
     2  3.3  6.8  23.4
     3  5.1  3.2   4.5

and n = 2, you can learn a new subspace with two columns [PC1, PC2].

Then given two points:

    point_a = [1, 2, 3]
    point_b = [2, 3, 4]
    expressed in [A, B, C]

Transform them to be expressed in [PC1, PC2], here we would have:
    
    point_a -> [-4.57, -1.74]
    point_b -> [-3.33, -0.65]

and return the Euclidean distance between the points in that space.
If scale is True, you should standardise the data first

* :param df: pandas DataFrame
* :param point_a: a numpy vector expressed in the same basis as df
* :param point_b: a numpy vector expressed in the same basis as df
* :param n: number of dimensions of the new space
* :param scale: whether to scale data or not
* :return: distance between points in the subspace

In [93]:
def distance_in_n_dimensions(df, point_a, point_b, n, scale):
    cols = df.columns
    points = pd.DataFrame([point_a, point_b], columns=cols)
    scaler = StandardScaler()
    if scale:
        scaler.fit(df)
        df = pd.DataFrame(scaler.transform(df), columns=cols)
        points = pd.DataFrame(scaler.transform(points), columns=cols)
    pca = PCA(n_components=n)
    fit_pca = pca.fit(df)
    points_pca = fit_pca.transform(points)
    dist_eucl = np.linalg.norm(points_pca[1] - points_pca[0])
    return point_pca, dist_eucl

In [94]:
# sample dataframe
df = pd.DataFrame({'A': [1.3, 2.0, 3.3, 5.1], 'B': [1.2, 2.1, 6.8, 3.2], 'C': [0.1, 1.2, 23.4, 4.5]})
point_a = [1, 2, 3]
point_b = [2, 3, 4]
n=2
scale = True
distance_in_n_dimensions(df, point_a, point_b, n, scale)

NameError: name 'point_pca' is not defined


Apply PCA on a given DataFrame df and transofmr all the data to be expressed
on the first principal component (you can discard other components)

With all those points in a one-dimension space, find outliers by looking for points
that lie at more than n standard deviations from the mean.

You should return a new dataframe containing all the rows of the original dataset that have been found to be outliers when projected.

Example:if the original DataFrame was:

          A    B     C
     0  1.3  1.2   0.1
     1  2.0  2.1   1.2
     2  3.3  6.8  23.4
     3  5.1  3.2   4.5

Once projected on PC1 it will be:
    
          PC1
    0   -7.56
    1   -6.26
    2   16.46
    3   -2.65

Compute the mean of this one dimensional dataset and find all rows that lie at more than n standard deviations from it.

Here, if n==1, only the row 2 is an outlier.

So you should return:
    
         A    B     C
    2  3.3  6.8  23.4

If scale is True, you should standardise the data first
Tip: use the StandardScaler from sklearn

* :param df: pandas DataFrame
* :param n: number of standard deviations from the mean to be considered outlier
* :param scale: whether to scale data or not
* :return: pandas DataFrame containing outliers only

In [92]:
def find_outliers_pca(df, n, scale):
    cols = df.columns
    scaler = StandardScaler()
    if scale:
        df_new = pd.DataFrame(scaler.fit_transform(df), columns=cols)
    else:
        df_new = df.copy()
    pca = PCA(n_components=1)
    pca.fit(df)
    points_new = pca.fit_transform(df_new)
    a_mean_std = abs((points_new - points_new.mean())/points_new.std())
    control = a_mean_std.reshape((a_mean_std.shape[0], ))
    outliers = df[control > n]
    return outliers

df = pd.DataFrame({'A': {0: 1.3, 1: 2.0, 2: 3.3, 3: 5.1}, 'B': {0: 1.2, 1: 2.1, 2: 6.8, 3: 3.2},'C': {0: 0.1, 1: 1.2, 2: 23.4, 3: 4.5}})
n = 1
scale = False
find_outliers_pca(df, n, scale)

     A    B     C
2  3.3  6.8  23.4

In [21]:
# or
def find_outliers_pca(df, n, scale):
    cols = df.columns
    scaler = StandardScaler()
    if scale:
        df_new = pd.DataFrame(scaler.fit_transform(df),columns = cols)
    else:
        df_new = df.copy()
    pca = PCA(n_components=1)
    pca.fit(df)
    points_new = pca.fit_transform(df_new)
    a_mean_std = abs((points_new-points_new.mean())/points_new.std())
    control = a_mean_std.reshape((a_mean_std.shape[0],))
    outliers = df[control > n]
    return outliers

df = pd.DataFrame({'A': {0: 1.3, 1: 2.0, 2: 3.3, 3: 5.1}, 'B': {0: 1.2, 1: 2.1, 2: 6.8, 3: 3.2},'C': {0: 0.1, 1: 1.2, 2: 23.4, 3: 4.5}})
n = 1
scale = False
find_outliers_pca(df, n, scale)

     A    B     C
2  3.3  6.8  23.4